[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	branch = b35641f4a3c62aa86a0b3c983d163bc0fe36026d
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
	branch = 0af55ccecd98d4e5a8d1fad7de25ba429d60e863
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = 65840c19c4823e537b51bed3298b2818a018a6bf
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc
	branch = 3ac03b8ad85a8e328a6182cddee8d05810bd5a2c
[submodule "vendor/spirv_cross/spirv_cross"]
	path = vendor/spirv_cross/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
	branch = 66363ac7e8fe4465169ceb2ad5905b1657244cfe
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
	branch = 1a79bbfa83b0942fca3f2794655b6b91bb682583
