[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc
	branch = 3ac03b8ad85a8e328a6182cddee8d05810bd5a2c
[submodule "vendor/spirv_cross/spirv_cross"]
	path = vendor/spirv_cross/spirv_cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
